<table>
	<tr>
		<td><label for="LastName">Last Name</label>
		<td><input id="LastName" name="LastName" value="{{LastName}}">
	</tr>
	<tr>
		<td><label for="FirstName">First Name</label>
		<td><input id="FirstName" name="FirstName" value="{{FirstName}}">
	</tr>
	<tr>
		<td><label for="JobTitle">Job Title</label>
		<td><input id="JobTitle" name="JobTitle" value="{{JobTitle}}">
	</tr>
	<tr>
		<td><label for="DirectPhone">Direct Phone</label>
		<td><input id="DirectPhone" name="DirectPhone" value="{{DirectPhone}}">
	</tr>
	<tr>
		<td><label for="Extension">Extension</label>
		<td><input id="Extension" name="Extension" value="{{Extension}}">
	</tr>
	<tr>
		<td><label for="EMailAddress">Email Address</label>
		<td><input id="EMailAddress" name="EMailAddress" value="{{EMailAddress}}">
	</tr>
</table>
