<div>
	
	<!-- Navigation bar -->
	<div class="app-section page-nav container">
		<ul>
			<li class="quick-filter" title="LiveSearch (/)">
				LiveSearch <input id="list-search" class="list-search" accesskey="/" type="text" />
			</li>
			<li id="quick-menu" class="app-menu">
				<i class="icon-reorder app-menu-icon" title="Menu (M)"></i>
				<ul>
					<a id="new-contact" href="#new"><li>New Contact (N)</li></a>
					<a id="show-tips" href="#tips"><li>Tips &amp; Tricks (?)</li></a>
					<a id="show-about" href="#about"><li>About this application</li></a>
					<a id="show-feedback" href="#feedback"><li>Send Feedback</li></a>
				</ul>
			</li>
		</ul>
	</div>

	<!-- App side panel -->
	<div id="app-side" class="app-section">
		<img src="lib/img/Operator-1.gif" alt="Switchboard Operator" />
		
		<div id="app-loading">
			<img src="lib/img/Loading.gif" alt="Loading..." />
			<p>Loading data...</p>
		</div>
		
	</div>
	
	<!-- App main panel -->
	<div id="app-header" class="app-section container app-view" />
	<div id="app-main" class="app-section container app-view" />

	<!-- App secondary panel -->
	<div id="app-overlay" class="app-section container app-view" />

</div>
