<h2>Tips &amp; Tricks</h2>
	<p>Here are a few tips &amp; tricks that may not be obvious.</p>
<h3>Master the Keyboard Shortcuts</h3>
	<p>This app was designed from the ground up to be <em>very</em> fast. Using the keyboard makes it even faster.
	Try these shortcuts:</p>
	<ul>
		<li><strong>/</strong> - place your cursor in the search box so you can start typing (ALT+TAB also works)</li>
		<li><strong>TAB</strong> - select the next link (CTRL+TAB to move backward)</li>
		<li><strong>ENTER</strong> - follow selected link (e.g., to IM or email someone)</li>
		<li><strong>M</strong> - open the menu</li>
	</ul>
	<p>Users with permission to edit contacts can use these shortcuts:</p>
	<ul>
		<li><strong>N</strong> - add a new contact</li>
	</ul>
<h3>Quick IM/Email</h3>
	<p>Here's an example of how to put the keyboard shortcuts to good use: type until the person you want is at or near the top of the list, hit TAB until the "IM" or "Email" link is selected, and then hit ENTER to open an IM or email window with the address already filled in. Lickety-split!</p>

<button class="close">( <i class="icon-remove"></i> Close )</button>
